.canvas {
    width: 300px;
    height: 500px;
    background-color: #4d0f00;
    padding: 50px;
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}
.one {
    width: 425;
  }